{presets: [
    '@babel/preset-react',
    [
      '@babel/preset-env',
      {
        targets: {
          esmodules: true,
        },
        "useBuiltIns": "entry",
        "corejs": "3.22",
        debug: true
      },
    ],
  ],
  plugins: [["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ], ["polyfill-regenerator", { "method": "usage-global" }]]}